<?xml version="1.0"?>
<launch>
	<description>
		After running this launch file open the "simple_urdf_visualizer.html" document from a webbrowser in order to
		show the urdf model
	</description>

	<arg name="use_pr2" default="False"/>

	<group if="$(arg use_pr2)">
		<include file="$(find pr2_description)/robots/upload_pr2.launch"/>
	</group>

	<group unless="$(arg use_pr2)">
		<arg name="model" default="$(find ur_description)/urdf/ur5_robot.urdf.xacro"/>
		<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)"/>
	</group>
	
	<param name="use_gui" value="True"/>

	<!--rosparam param="source_list">[robot_states, external_states]</rosparam>
	<node name="robot_joint_publisher" pkg="rostopic" type="rostopic" args="pub /robot_joints sensor_msgs/JointState '
		{
		header:
		 {seq: 0,
		  stamp: {secs: 0, nsecs: 0},
		  frame_id: ''},
		name: ['j1'],
		position: [0],
		velocity: [0],
		effort: [0]}' -r 0.5"/-->


	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher"/>
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>		
</launch>
