<?xml version="1.0"?>
<launch>
  
  <include file="$(find irb2400_moveit_generated)/launch/moveit_planning_execution.launch">
		<arg name="rviz" value="false"/>
	</include>

  <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find moveit_example)/rviz/motion_plugin_conf.rviz" output="screen">
    <rosparam command="load" file="$(find irb2400_moveit_generated)/config/kinematics.yaml"/>
  </node>

</launch>
